<div class="add-background">
  <%= form_for @scientist do |f| %>
    <div class="row">
      <div class="field col-md-3">
        <%= f.label "Full Name: " %> <br>
        <%= f.text_field :name %>
      </div>
      <div class="field col-md-3">
        <%= f.label "Discipline: " %> <br>
        <%= f.text_field :discipline %>
      </div>
      <div class="field col-md-3">
        <%= f.label "Spooky? " %> <br>
        <%= f.check_box :spooky %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
          <i class='icon-ok icon-white'></i>Add Scientist
        <% end %>
      </div>
        <div class="col-md-2">
        <%= link_to 'Back', scientists_path, class: 'btn btn-warning' %>
      </div>
    </div>
  <% end %>
</div>
