<!DOCTYPE html>
<html>
<head>
  <title>ScientificScienceInstitute</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="container">
      <%= link_to "F.I.S.H.E.", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav pull-right">
        <li role="presentation">
          <%= link_to "Home", root_path %>
        </li>
        <li role="presentation">
          <%#= link_to "Scientists", scientists_path %>
        </li>
        <li role="presentation">
          <%#= link_to "Experiments", experiments_path %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |type, message| %>
      <p class="flash <%= type.to_s %>"><%= message %></p>
    <% end %>
  </div>

  <%= yield %>


</body>
</html>
